body{
    background-color: papayawhip;
    /* display: flex;
    justify-content: center;
    align-items: center; */
    
}

#calc{
    position: absolute;
    margin: 20px 10px ;
    padding: 20px;
    width: 400px;
    height: 460px;
    background-image: radial-gradient(rgb(153, 199, 153),rgb(91, 138, 91));
    color: papayawhip;
    font-size: 36px;
    font-style: oblique;
    text-align: center;
    border-radius: 20px;
    border-color: darkgreen;
    border-width: 10px;
    
}


#result{

    width: 80%;
    background-color: lightgray;
    height: 60px;
    margin: 10px 18px 10px 18px;
    border-radius: 10px;
    border-color: darkgreen;
    border-width: 5px;
    font-size: 24px;
    text-align: right;
    padding-right: 10px;
}



#btns{
    margin: 10px 40px 10px 25px;
    width:90%;
    height:400px;
    
}

.btn{
    border-color: darkgray;
    margin: 10px 5px 10px 1px;
    vertical-align: top;
    width: 66px;
    height: 60px;
    float: left; 
    border-radius: 5px;
}

.btn:hover{
    background-color: powderblue;
   
}


.btnnum{
    background-color: lightgoldenrodyellow;
    color: green;
    font-size: 24px;
}

.btnsym{
    background-color: blanchedalmond;
    color: brown;
    font-size: 24px;
}

.clear{
    background-color: lightgreen;
    color: red;
    font-size: 24px;
}

.equalto{
    width: 66px;
    height: 140px;
    background-color: lightgray;
    color: darkolivegreen;
    font-size: 28px;
    
}

#btndot,#btn0,#btnpow,#btnsum{
    margin-top: -69px;
}

